.container {
  padding-top: 200px;
  background-color: #f1f4f6;
  position: relative;
}
.content {
  padding-bottom: 250px;
  width: 70vw;
  margin: auto;
  background-color: #f1f4f6;
}
.content .text {
  padding: 100px 50px 50px 50px;
  width: 80%;
  vertical-align: center;
}
.content .text h1 {
  font-weight: 600;
  padding: 0px 0px 50px 0px;
  font-size: 42px;
}
.content .text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 21px;
  padding: 0px 0px 50px 0px;
}
.content .text a {
  font-family: "Roboto", sans-serif;
  color: #5722cd;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}
.content .image img {
  box-shadow: -1px 13px 15px -1px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-height: 500px;
  min-height: 400px;
}
.content .image img:hover {
  cursor: pointer;
}
.content .card-left {
  z-index: 10;
  position: relative;
  padding: 100px 0px 0px 0px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.content .card-right {
  z-index: 10;
  position: relative;
  padding: 100px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.background-text {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 600px;
  color: #ffffff;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}
.text .link {
  display: flex;
  align-items: center;
}
.text .link::after {
  content: "";
  width: 15px;
  height: 1px;
  display: inline-block;
  background: #5722cd;
  margin-left: 15px;
  transition: width 0.2s ease-in;
}
.text .link:hover::after {
  width: 60px;
}
.triangle-content {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 99vw;
  border-color: transparent transparent transparent white;
}

@media (max-width: 1200px) {
  .background-text {
    font-size: 300px;
  }
  .content .text {
    padding: 50px 50px 50px 50px;
  }
  .content {
    width: 90%;
  }
  .content .image img {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .background-text {
    font-size: 150px;
  }
  .card-left .text {
    grid-column-start: 1;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 0;
  }
  .card-right .text {
    grid-column-start: 1;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 0;
  }
  .content .card-left {
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, auto);
  }
  .content .card-right {
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, auto);
  }
}
